<h1>List of Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Superadmin</th>
      <th>Author</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to(user == current_user ? "#{user.name} (Current user)" : user.name, user_path(user)) %></td>
        <td><%= user.email %></td>
        <td><%= user.superadmin ? 'Yes' : 'No' %></td>
        <td><%= user.author ? 'Yes' : 'No' %></td>
        <td>
          <%= link_to 'Edit', edit_user_path(user) %>
          <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>