<%= form_with(model: @page, local: true) do |form| %>

  <div>
    <%= form.label :title, "Title" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.rich_text_area :content, id: "page_content" %>
  </div>

  <div>
    <%= form.label :published, "Published" %>
    <%= form.check_box :published %>
  </div>

  <div>
    <%= form.label :is_blog_page, "Show blog posts on this page" %>
    <%= form.check_box :is_blog_page %>
  </div>

  <div>
    <%= form.label :is_in_menu, "Show this page in menu" %>
    <%= form.check_box :is_in_menu %>
  </div>

  <div>
    <%= form.submit "Save page" %>
  </div>
<% end %> 