<h2>
  <%= @page.title %>
</h2>
<div>
  <%= @page.content %>
</div>
<% if @page.is_blog_page && @posts.present? %>
  <div class="posts">
    <% @posts.each do |post| %>
      <p>- <%= link_to post.title, post %> - <em>Published by <%= post.user.name %> on <%= post.created_at.strftime('%d.%m.%Y') %></em></p>
    <% end %>
  </div>
<% end %>

<div class="links">
  <% if user_signed_in? %>
    <% if current_user.superadmin? || (current_user.author? && @page.user == current_user) %>
      <%= link_to 'Edit page', edit_page_path(@page) %> |
    <% end %>
    <%= link_to 'Back to pages', pages_path %>
  <% end %>
</div>
