<!DOCTYPE html>
<html>
  <head>
    <% if Setting.exists? %>
      <title><%= @settings.blog_name %></title>
    <% else %>
      <title>New blog</title>
    <% end %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.8/dist/trix.css">
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.8/dist/trix.umd.min.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div><%= notice %></div>
    <div><%= alert %></div>
    <header style="padding-top: 25px;">
    <% if Setting.exists? %>
      <h1><%= @settings.blog_name %></h1>
    <% else %>
      <h1>New blog</h1>
    <% end %>
    
    <% # Zobrazenie hlavného menu %>
    <nav class="main-navigation">
      <ul class="main-menu">
        <li><%= link_to "Domov", root_path %></li>
        <% Page.in_menu.each do |page| %>
          <li><%= link_to page.title, page_path(page) %></li>
        <% end %>
      </ul>
    </nav>
    </header>
    
    <%= yield %>
    
    <footer>
      <nav>
      <% if user_signed_in? %>
        <% if current_user.author? %>
          <%= link_to "Posts", posts_path %>
        <% else %>
        <% end %>
        <%= link_to "Edit Name", edit_user_settings_path %>
        <%= link_to "Edit Password", edit_password_path %>
        <% if current_user.superadmin? %>
          <%= link_to "Blog Settings", edit_setting_path %>
          <%= link_to "Users", users_path %>
          <%= link_to "Pages", pages_path %>
          <%= link_to "Menu", menu_index_path %>
          <%= link_to "Posts", posts_path %>
        <% else %>
        <% end %>
        <%= button_to "Log out", session_path, method: :delete %>
      <% else %>
        <% if Setting.exists?(registration_enabled: true) || !Setting.exists?(registration_enabled: [true, false]) %>
          <%= link_to "Sign Up", new_registration_path %>
        <% end %>
        <%= link_to "Log in", new_session_path %>
      <% end %>
    </nav>
    </footer>
  </body>
</html>
