<!DOCTYPE html>
<html>
  <head>
    <title>Blog On Rails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.8/dist/trix.css">
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.8/dist/trix.umd.min.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div><%= notice %></div>
    <div><%= alert %></div>
    <header style="padding-top: 25px;">
    <h1>Blog on Rails</h1>
    </header>
    <%= yield %>
    <footer>
      <nav>
      <% if user_signed_in? %>
        <% if current_user.author? %>
          <%= link_to "Posts", posts_path %>
        <% else %>
        <% end %>
        <%= link_to "Edit Name", edit_user_settings_path %>
        <%= link_to "Edit Password", edit_password_path %>
        <% if current_user.superadmin? %>
          <%= link_to "Blog Settings", edit_setting_path %>
          <%= link_to "Users", users_path %>
        <% else %>
        <% end %>
        <%= button_to "Log out", session_path, method: :delete %>
      <% else %>
        <% if Setting.find_by(key: 'registration_enabled')&.value == '1' || !Setting.exists?(key: 'registration_enabled') %>
          <%= link_to "Sign Up", new_registration_path %>
        <% end %>
        <%= link_to "Log in", new_session_path %>
      <% end %>
    </nav>
    </footer>
  </body>
</html>
